/**
 * @name ClearVision V7 Aki + Hyprcord
 * @author Aki
 * @version 7.0.1
 * @description ClearVision V7 + Hyprland.
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */

/* -------------------- IMPORT ClearVision-Aki -------------------- */
@import url(https://raw.githubusercontent.com/MovementPrediction1337/randomarhicve/refs/heads/main/image.css);
/* User Pop Up */
@import url(https://getbricked.github.io/ClearVision-Aki/Themes/User_Pop.css);

/* Nameplate */
@import url(https://getbricked.github.io/ClearVision-Aki/Themes/Nameplate.css);

/* Settings */
@import url(https://getbricked.github.io/ClearVision-Aki/Themes/Settings.css);

/* -------------------- IMPORT Hyprcord -------------------- */
@import url(https://getbricked.github.io/Hyprcord/Hyprcord.css);

/* Chat Panel */
@import url(https://getbricked.github.io/Hyprcord/Aki-Edition/Chat_Panel.css);

/* User Panel */
@import url(https://getbricked.github.io/Hyprcord/Aki-Edition/User_Panel.css);

/* Server */
@import url(https://getbricked.github.io/Hyprcord/Aki-Edition/Server.css);

/* DM */
@import url(https://getbricked.github.io/Hyprcord/Aki-Edition/DM.css);

/* Member List */
@import url(https://getbricked.github.io/Hyprcord/Aki-Edition/Member_List.css);

/* SETTINGS */
:root {
    /* Background image */
    --global-margin: 20px;
    --guildsize: 57;
    --bordersize: 2px;
}